@import '../../utils/stylesUtils/variables.scss';
@import '../../utils/stylesUtils/mixin.scss';

.full-height-container {
  height: 90vh;
  margin-top: 200px;
}

.products-title {
  margin: 0;
  margin-bottom: 8px;

  font-family: 'Bold';
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: $main-text-color;
}

.products-amount {
  font-family: 'Regular';
  font-size: 14px;
  line-height: 21px;
  color: $secondary-text-color;
  margin-bottom: 32px;
}

.products-cards {
  @include card-grid;

  padding-top: 24px;
  padding-bottom: 24px;

  @include on-tablet {
    padding-bottom: 40px;
  }
}
