
$tablet-min-width: 640px;
$desktop-min-width: 1200px;

$card-width: 272px;
$two-colums-min-width: 592px;
$three-colums-min-width: 896px;
$four-colums-min-width: 1184px;

$main-text-color: #313237;
$secondary-text-color: #89939a;

$dark-gray-color: #b4bdc3;
$regular-gray-color: #e2e6e9;
$light-gray-color: #fafbfc;

$red-color: #eb5757;
$green-color: #27ae60;

$short-duration: 150ms;
$middle-duration: 300ms;
$long-duration: 450ms;

$content-margin-phone: 16px;

$header-height-mobile: 48px;
$header-height-tablet: 64px;
