@import './utils/stylesUtils/mixin.scss';
@import './utils/stylesUtils/variables';
@import './utils/stylesUtils/fonts.scss';

iframe {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  // background-color: #0F1121;
}

.main-container {
  overflow: hidden;
  @include content-padding-inline;
}
