@import '../../utils/stylesUtils/variables.scss';

.not-found {
  min-height: calc(100vh - $header-height-tablet - 96px);

  &__content {
    height: 70vh;
    background-image: url(../../../public/img/page-not-found.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }

}


